<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @email_address.address %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @email_address.contact_id %>
</p>

<%= link_to 'Edit', edit_email_address_path(@email_address) %> |
<%= link_to('Delete', email_addresses_path(@email_address), :method => "delete") %> |
<%= link_to 'Back', email_addresses_path %>
